<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HomeComputerControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- DO NOT CHANGE THIS VALUE -->
    <add key="config_version" value="0.3" />
    <!--                           [SETTINGS]
                    You may edit the values within this tag
    To reset the config you can simply delete it, and it will auto-generate
                Only change the content of the "value" tags.
    Config Wiki: https://github.com/AlbertMN/AssistantComputerControl/wiki/Config -->
    
    <!-- Automatically check for updates? -->
    <add key="CheckForUpdates" value="true" />
    
    <!-- Path of the generated Computer Action file (filename & extension required) -->
    <add key="ActionFilePath" value="computerAction.txt" />
    <!-- The max last-edited datetime of the action-file in *seconds*.
		Fx. 30 means the file can be no more than 30 seconds old to make sure we're not using an old file. -->
    <add key="FileEditedMargin" value="30" />
    
    <!-- Whether the PC should be unmuted when the volume is changed (via. Google Assistant, up or down)
    Accepted values: "true" or "false" -->
    <add key="UnmuteOnVolumeChange" value="true" />
  </appSettings>
</configuration>