<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssistantComputerControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HomeComputerControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <AssistantComputerControl.Properties.Settings>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActionFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionFileExtension" serializeAs="String">
        <value>txt</value>
      </setting>
      <setting name="FileEditedMargin" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="UnmuteOnVolumeChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComputerName" serializeAs="String">
        <value />
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BetaProgram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasCompletedTutorial" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UID" serializeAs="String">
        <value />
      </setting>
      <setting name="WriteOutUCFirst" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteOutDotLast" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnWhenDeletingManyFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxDeleteFiles" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LastKnownVersion" serializeAs="String">
        <value />
      </setting>
    </AssistantComputerControl.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sentry.Protocol" publicKeyToken="fba2ec45388e2af0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>